:root {
    --main-color: #FC6BA0;
    --main-dark-color: #d44378;
    --main-light-color: #ff93c8;
    --secondary-color: #FF5290;
    --tertiary-color: #8BEC8F;
    --main-very-light-color: #EAE8EF;
    --main-black-color: #333333;
    --main-dark-grey-color: #81769A;
    --main-grey-color: #B1ABBF;
    --main-light-grey-color: #FAF9FC;
    --main-white-color: #FFFFFF;

    --main-very-light-color: #eae8ef;
    --main-black-color: #333333;
    --main-dark-grey-color: #81769a;
    --main-grey-color: #b1abbf;
    --main-light-grey-color: #faf9fc;
    --main-white-color: #ffffff;
    --main-transition: all 0.2s ease-in-out 0.1s;
    --main-transition-numbers: 0.2s ease-in-out 0.1s;
    --main-button-opacity: 0.75;
    --link-opacity: 0.55;
    --main-black: #00ffd2 !important;
    --custom-black-color: #3c3c3c;
    --custom-second-black-color: #101010;
    --custom-third-black-color: #424242;
    --custom-grey-color: #7e7e7e;
    --custom-second-grey-color: #dcdcdc;
    --custom-third-grey-color: #787878;
    --custom-pink-color: #ffecf3;

    --ui-font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --ui-text-letter-spacing-auto: auto;
    --ui-text-letter-spacing-neg-3: -0.01em;
    --ui-text-letter-spacing-neg-2: -0.02em;
    --ui-text-letter-spacing-neg-1: -0.03em;
    --ui-text-letter-spacing-3: 0.15em;
    --ui-text-letter-spacing-2: 0.1em;
    --ui-text-letter-spacing-1: 0.025em;
    --ui-text-decoration-style-dashed: dashed;
    --ui-text-decoration-style-wavy: wavy;
    --ui-text-decoration-style-dotted: dotted;
    --ui-text-decoration-style-double: double;
    --ui-text-decoration-style-solid: solid;
    --ui-text-decoration-line-overline: overline;
    --ui-text-decoration-line-line-through: line-through;
    --ui-text-decoration-line-underline: underline;
    --ui-text-transform-lowercase: lowercase;
    --ui-text-transform-uppercase: uppercase;
    --ui-text-transform-capitalize: capitalize;
    --ui-text-transform-none: none;
    --ui-space-inset-8xl: 72px;
    --ui-space-inset-7xl: 64px;
    --ui-space-inset-6xl: 48px;
    --ui-space-inset-5xl: 40px;
    --ui-space-inset-4xl: 36px;
    --ui-space-inset-3xl: 32px;
    --ui-space-inset-2xl: 28px;
    --ui-space-inset-xl: 24px;
    --ui-space-inset-lg: 20px;
    --ui-space-inset-md: 16px;
    --ui-space-inset-sm: 12px;
    --ui-space-inset-xs: 8px;
    --ui-space-inset-2xs: 4px;
    --ui-space-inset-3xs: 2px;
    --ui-space-inset-none: 0;
    --ui-space-inline-8xl-neg: -72px;
    --ui-space-inline-7xl-neg: -64px;
    --ui-space-inline-6xl-neg: -48px;
    --ui-space-inline-5xl-neg: -40px;
    --ui-space-inline-4xl-neg: -36px;
    --ui-space-inline-3xl-neg: -32px;
    --ui-space-inline-2xl-neg: -28px;
    --ui-space-inline-xl-neg: -24px;
    --ui-space-inline-lg-neg: -20px;
    --ui-space-inline-md-neg: -16px;
    --ui-space-inline-sm-neg: -12px;
    --ui-space-inline-xs-neg: -8px;
    --ui-space-inline-2xs-neg: -4px;
    --ui-space-inline-3xs-neg: -2px;
    --ui-space-inline-8xl: 72px;
    --ui-space-inline-7xl: 64px;
}